<div class="bg-gray-200 min-h-screen">
    <div class=" flex items-center justify-center py-12 ">
        <div class="bg-[#e7e7e7] hover:bg-gray-100 text-[#7b7b7b] font-bold py-2 px-4 rounded inline-flex items-center">
            <span>00:00</span>
        </div>
    </div>
    <div class="flex flex-col items-center  justify-center  mx-auto">
        <div class="w-full bg-white rounded-lg shadow sm:max-w-xl  container  mb-8">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <span class=" poppins-regular text-[#0D2E4D] text-xl font-semibold"> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Vestibulum quis leo sed elit posuere tristique.</span>

                <!-- user-test.component.html -->
                <!-- ... existing HTML ... -->
                <ul class="my-4 space-y-3">
                    <li
                        class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 hover:bg-[#FFCB63] group hover:shadow">
                        <label for="choice1">Choice 1</label>
                    </li>
                    <li
                        class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 hover:bg-[#FFCB63] group hover:shadow">
                        <label for="choice2">Choice 2</label>
                    </li>
                    <li
                        class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 hover:bg-[#FFCB63] group hover:shadow">
                        <label for="choice3">Choice 3</label>
                    </li>
                    <li
                        class="flex items-center p-3 text-base text-gray-900 rounded-lg bg-gray-50 hover:bg-[#FFCB63] group hover:shadow">
                        <label for="choice4">Choice 4</label>
                    </li>
                </ul>
            </div>



        </div>

    </div>
</div>