<div class="py-12">
    <div class="text-2xl montserrat-semi text-gray-800 mt-0">Welcome</div>
    <div class="text-4xl montserrat-extra text-[#1d2736]  mb-0">Dashboard-Candidates List</div>
    <div class="montserrat text-gray-800 mt-0">{{usersNumber}} candidates found</div>
</div>
<div class="flex items-center justify-center ">
    <div class=" h-full  container bg-white  p-8 ">


        <body class="flex items-center justify-center mt-5 mb-4">
            <table class="bg-white rounded-lg overflow-hidden w-full">
                <thead class="text-[#1d2736]">
                    <tr
                        class="bg-white flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-left">User</th>
                        <th class="p-3 text-left">Email</th>
                        <th class="p-3 text-left">Specializations</th>
                        <th class="p-3 text-left">Registration Date</th>
                        <th class="p-3 text-left">Status</th>
                        <th class="p-3 text-left" width="110px">Actions</th>
                        <th class="p-3 text-left">Test</th>
                    </tr>
                </thead>
                <tbody class="flex-1 sm:flex-none">
                    <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 montserrat-semi"
                        *ngFor="let user of data | paginate : { itemsPerPage: 5, currentPage: p };let i = index">
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ user.firstname }} {{ user.lastName
                            }}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{ user.email }}</td>
                        
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ user.specializations ==='WEB_DEVELOPMENT' ? 'web development' :user.specializations ==='MOBILE_DEVELOPMENT'?'mobile development':user.specializations ==='DATA_SCIENCE'?' data science' :""}}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ formatDate(user.registrationDate)
                            }}</td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 ">
                            <span class="flex " [ngClass]="{
                        'text-red-500': user.status === 'Rejected',
                        'text-orange-500': user.status === 'Pending',
                        'text-green-500': user.status === 'Accepted'
                      }">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="w-4 h-4">
                                    <path fill-rule="evenodd"
                                        d="M15 8c0 .982-.472 1.854-1.202 2.402a2.995 2.995 0 0 1-.848 2.547 2.995 2.995 0 0 1-2.548.849A2.996 2.996 0 0 1 8 15a2.996 2.996 0 0 1-2.402-1.202 2.995 2.995 0 0 1-2.547-.848 2.995 2.995 0 0 1-.849-2.548A2.996 2.996 0 0 1 1 8c0-.982.472-1.854 1.202-2.402a2.995 2.995 0 0 1 .848-2.547 2.995 2.995 0 0 1 2.548-.849A2.995 2.995 0 0 1 8 1c.982 0 1.854.472 2.402 1.202a2.995 2.995 0 0 1 2.547.848c.695.695.978 1.645.849 2.548A2.996 2.996 0 0 1 15 8Zm-3.291-2.843a.75.75 0 0 1 .135 1.052l-4.25 5.5a.75.75 0 0 1-1.151.043l-2.25-2.5a.75.75 0 1 1 1.114-1.004l1.65 1.832 3.7-4.789a.75.75 0 0 1 1.052-.134Z"
                                        clip-rule="evenodd" />
                                </svg>
                                {{ user.status }}
                            </span>
                        </td>
                        <td
                            class="border-grey-light border hover:bg-gray-100 p-4 flex justify-center items-center relative">
                            <button type="button"
                                class="text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-500 font-medium rounded-lg text-sm  inline-flex items-center "
                                [ngClass]="{ 'dropdown-open': isDropDownOpenArray[i] }" (click)="toggleDropdown(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                        d="M8.34 1.804A1 1 0 0 1 9.32 1h1.36a1 1 0 0 1 .98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 0 1 1.262.125l.962.962a1 1 0 0 1 .125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 0 1 .804.98v1.361a1 1 0 0 1-.804.98l-1.473.295a6.95 6.95 0 0 1-.587 1.416l.834 1.25a1 1 0 0 1-.125 1.262l-.962.962a1 1 0 0 1-1.262.125l-1.25-.834a6.953 6.953 0 0 1-1.416.587l-.294 1.473a1 1 0 0 1-.98.804H9.32a1 1 0 0 1-.98-.804l-.295-1.473a6.957 6.957 0 0 1-1.416-.587l-1.25.834a1 1 0 0 1-1.262-.125l-.962-.962a1 1 0 0 1-.125-1.262l.834-1.25a6.957 6.957 0 0 1-.587-1.416l-1.473-.294A1 1 0 0 1 1 10.68V9.32a1 1 0 0 1 .804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 0 1 .125-1.262l.962-.962A1 1 0 0 1 5.38 3.03l1.25.834a6.957 6.957 0 0 1 1.416-.587l.294-1.473ZM13 10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div class="absolute left-0 top-full z-[150] bg-white border border-gray-300 rounded-md shadow-md dropdown-menu"
                                *ngIf="isDropDownOpenArray[i]">
                                <ul class="py-1 text-sm text-gray-700">
                                    <li class="hover:bg-gray-100">
                                        <a (click)="openDialog(user.id)" class="block px-4 py-2">View</a>
                                    </li>
                                    <li class="hover:bg-gray-100">
                                        <a (click)="acceptUser(user.id)" class="block px-4 py-2">Accept</a>
                                    </li>
                                    <li class="hover:bg-gray-100">
                                        <a (click)="rejectUser(user.id)" class="block px-4 py-2">Reject</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </td>

                        <td class="border-grey-light border hover:bg-gray-100 p-3 relative">
                            <button
                                class="px-4 py-1 bg-blue-500 text-white rounded-md shadow-md transition-colors duration-300 ease-in-out disabled:bg-gray-300 disabled:cursor-not-allowed"
                                (click)="openTest(user.specializations,user.id)"
                                [disabled]="isButtonDisabled(user.status)">Add</button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </body>
        <div class="flex justify-end">
            <pagination-controls class="my-4" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>


<!-------------------------------- user --------------------------------------------------------->
<div *ngIf="isDialogOpen" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <div class="bg-white rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full ">
        <div class="flex justify-end items-center px-4 pt-4 ">
          <button class="text-gray-400 hover:text-gray-600 focus:outline-none" (click)="closeDialog()">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
          <div class="text-lg montserrat-bold text-[#1d2736] text-center border-b border-gray-200 p-4">User Information</div>
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="flex ">
                <div class="initials-circle">{{ getInitials( user.firstname , user.lastName) }}</div>
        
                <div class="flex items-center">
                  <h1 class="text-[#1d2736] poppins-regular px-8">{{ user.firstname }} {{ user.lastName }}</h1>
                </div>
              </div>

            <div class="flex items-center space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
                    <path
                        d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
                </svg>

                <span class="poppins-regular">E-mail :</span>
                <span class="text-black">{{ user.email }}</span>
            </div>
            <div class="flex flex-wrap items-start space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 192 192" fill="none">
                    <rect width="132" height="132" x="30" y="30" stroke="#000000" stroke-width="12" rx="16" />
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"
                        d="M66 86v44" />
                    <circle cx="66" cy="64" r="8" fill="#000000" />
                    <path stroke="#000000" stroke-linecap="round" stroke-width="12"
                        d="M126 130v-26c0-9.941-8.059-18-18-18v0c-9.941 0-18 8.059-18 18v26" />
                </svg>
                <div class="flex flex-col">
                    <span class="poppins-regular">Linkedin Profile :</span>
                    <span class="text-black">
                        <a href="https://{{user.linkedinUrl}}" target="_blank" class="break-all">{{ user.linkedinUrl
                            }}</a>
                    </span>
                </div>
            </div>

            <div class="flex items-center space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z"
                        clip-rule="evenodd" />
                </svg>

                <span class="poppins-regular">Phone :</span>
                <span class="text-black">{{ user.number }}</span>
            </div>
            <div class="flex items-center space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                        clip-rule="evenodd" />
                </svg>
                <span class="poppins-regular">EducationLevel :</span>
                <span class="text-black">{{ user.educationLevel }}</span>
            </div>
            <div>

            </div>
            <div
                class="flex items-center p-2 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b ">
                <button (click)="getResume(user.id)"
                    class="w-full text-white border bg-[#1d2736] hover:bg-transparent hover:text-[#1d2736] hover:border-[#1d2736] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                    View Resume</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--
<div *ngIf="isDialogOpen" class="w-full min-h-screen fixed top-0 left-0" style="background: rgba(0, 0, 0, 0.5);">
    <div class="flex flex-col items-center min-h-screen justify-center ml-14  px-6 py-12 mx-auto  lg:py-0">
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="flex items-center justify-end px-4 pt-4">
                <button (click)="closeDialog()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </button>
            </div>
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="initials-circle">{{ getInitials( user.firstname , user.lastName) }}</div>

                <h1 class=" poppins-regular">{{ user.firstname }} {{ user.lastName }}</h1>

                <div class="flex items-center space-x-1 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path
                            d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
                        <path
                            d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
                    </svg>

                    <span class="poppins-regular">E-mail :</span>
                    <span class="text-black">{{ user.email }}</span>
                </div>
                <div class="flex flex-wrap items-start space-x-1 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 192 192" fill="none">
                        <rect width="132" height="132" x="30" y="30" stroke="#000000" stroke-width="12" rx="16" />
                        <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"
                            d="M66 86v44" />
                        <circle cx="66" cy="64" r="8" fill="#000000" />
                        <path stroke="#000000" stroke-linecap="round" stroke-width="12"
                            d="M126 130v-26c0-9.941-8.059-18-18-18v0c-9.941 0-18 8.059-18 18v26" />
                    </svg>
                    <div class="flex flex-col">
                        <span class="poppins-regular">Linkedin Profile :</span>
                        <span class="text-black">
                            <a href="https://{{user.linkedinUrl}}" target="_blank" class="break-all">{{ user.linkedinUrl
                                }}</a>
                        </span>
                    </div>
                </div>

                <div class="flex items-center space-x-1 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                            d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z"
                            clip-rule="evenodd" />
                    </svg>

                    <span class="poppins-regular">Phone :</span>
                    <span class="text-black">{{ user.number }}</span>
                </div>
                <div class="flex items-center space-x-1 text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                            d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="poppins-regular">EducationLevel :</span>
                    <span class="text-black">{{ user.educationLevel }}</span>
                </div>
                <div>

                </div>
                <div
                    class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b ">
                    <button (click)="getResume(user.id)"
                        class="w-full text-white border bg-[#1d2736] hover:bg-transparent hover:text-[#1d2736] hover:border-[#1d2736] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        View Resume</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!----------------------------------Test------------------------------------------>
<div *ngIf="isTestOpen" class="w-full min-h-screen fixed top-0 left-0" style="background: rgba(0, 0, 0, 0.5);">
    <div class="flex flex-col items-center min-h-screen justify-center ml-14  px-6 py-12 mx-auto  lg:py-0">
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0  ">
                <div class="flex items-center justify-end px-4 pt-4">
                    <button (click)="closeTest()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18" />
                            <line x1="6" y1="6" x2="18" y2="18" />
                        </svg>
                    </button>
                </div>
                <div class="overflow-y-auto h-80">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8 ">
                    <div *ngFor="let test of tests">
                        <div class="border border-gray-300 rounded-lg p-2 border-l-4  mb-2 hover:border-[#d97a07] ">
                            <!-- Checkbox -->
                            <div class="mb-2 ">
                                <span class="items-center">
                                    <input type="radio" [value]="test.id" [(ngModel)]="selectedTestId">
                                    <label for="radio" class="flex items-center cursor-pointer mb-2">

                                        {{ test.difficultyLevel }}

                                    </label>
                                </span>
                            </div>
                            <!-- Difficulty level and time in minutes -->
                            <div class="flex justify-end  w-full mr-2">
                                <div class="flex ">
                                    <!-- Difficulty level -->
                                    <span class="text-xs font-semibold  mr-2">Points: {{test.totalPoints}}</span>
                                    <span class="text-xs font-semibold  mr-2">{{test.passingPercentage}}%</span>
                                    <!-- Time in minutes -->
                                    <span class="text-xs text-gray-700">Time: {{test.totalDuration}}mins</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <div
                    class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b ">
                    <button (click)="assignTest(selectedTestId,user.id)"
                        class="w-full text-white border bg-[#1d2736] hover:bg-transparent hover:text-[#1d2736] hover:border-[#1d2736] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        set Test</button>
                </div>

        </div>
    </div>
</div>