<app-navbar></app-navbar>
<div class="bg-[#e6eaed]  ">
    <div class="mx-auto max-w-screen-xl px-4 py-60 flex h-screen items-center  ">
        <div class="mx-auto max-w-3xl text-center">
            <h1 class="text-[#0D2E4D] sm:text-5xl font-bold">
                Unleash Your Skills With.

                <span class=" sm:text-5xl block  poppins-regular font-semibold"> Testing Intern Platform. </span>
            </h1>

            <p class=" mt-12 max-w-xl  sm:text-[16px]/relaxed text-[#0D2E4D] poppins-regular ">
                Our platform is designed to assess your coding abilities and help you showcase your skills to potential
                employers.
            </p>

            <div class="mt-4 flex flex-wrap justify-center gap-4">
                <a class="block w-full rounded border border-[#d97a07] bg-[#d97a07] px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-[#a94f33] sm:w-auto"
                    routerLink="/register" routerLinkActive="active">
                    Get Started
                </a>
            </div>
            
        </div>
    </div>
</div>
<div>
    <!-- Display remaining time -->
    Time remaining: {{ formatTime(remainingMinutes) }}:{{ formatTime(remainingSeconds) }}
  </div>
  
  

    <footer class="bg-black">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between ">
                <div class="mb-6 md:mb-0">
                    <a href="https://www.majesteye.com" class="flex items-center">
                        <img src="assets/logoFooter.png" class="h-22 me-3" alt="logo" />
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 py-12">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Resources</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="" class="hover:underline">Flowbite</a>
                            </li>
                            <li>
                                <a href="" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Follow us</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="" class="hover:underline ">Github</a>
                            </li>
                            <li>
                                <a href="" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Legal</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between ">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 MajestEye.
                </span>
                <div class="flex mt-4 sm:justify-center sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900 hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>

                    <a href="#" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 hover:text-white ms-5">
                        <svg svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="currentColor" version="1.1" width="15" height="15" viewBox="0 0 512 512"
                            xml:space="preserve">

                            <g id="7935ec95c421cee6d86eb22ecd125aef">

                                <path style="display: inline; fill-rule: evenodd; clip-rule: evenodd;"
                                    d="M116.504,500.219V170.654H6.975v329.564H116.504   L116.504,500.219z M61.751,125.674c38.183,0,61.968-25.328,61.968-56.953c-0.722-32.328-23.785-56.941-61.252-56.941   C24.994,11.781,0.5,36.394,0.5,68.722c0,31.625,23.772,56.953,60.53,56.953H61.751L61.751,125.674z M177.124,500.219   c0,0,1.437-298.643,0-329.564H286.67v47.794h-0.727c14.404-22.49,40.354-55.533,99.44-55.533   c72.085,0,126.116,47.103,126.116,148.333v188.971H401.971V323.912c0-44.301-15.848-74.531-55.497-74.531   c-30.254,0-48.284,20.38-56.202,40.08c-2.897,7.012-3.602,16.861-3.602,26.711v184.047H177.124L177.124,500.219z">

                                </path>

                            </g>

                        </svg>
                        <span class="sr-only">Linkedin account</span>
                    </a>

                </div>
            </div>
        </div>
    </footer>
  