.container {
    border-radius: 20px;

    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #e6eaed;
  }
  .circle-with-number {
    width: 20px;
    height: 20px;
    background-color: currentColor;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
  .checked {
    border-color: #d97a07;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    opacity: 0; /* Hide the actual checkbox */
    width: 0;
    height: 0;
  }
  
  .checkbox-container label {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .checkbox-container label:hover {
    border-color: #008000;
  }
  
  .checkbox-container input[type="checkbox"]:checked + label {
    border-color: green;
    background-color: #e0ffe0; /* Light green background on check */
  }
  
  .checkbox-container .checkbox-title {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .checkbox-container .checkbox-info span {
    margin-right: 10px;
  }
  
  