<div class="py-12 px-4">
    <div class="container mx-auto p-8 bg-white">

        <!-- Navigation history -->
        <nav class="mb-6">
            <span class="text-gray-500">Quizzes </span>
            <span class="font-bold px-1"> > </span>
            <span class="text-[#d97a07]">Create a new quiz</span>
        </nav>

        <!-- Title and action buttons -->
        <form [formGroup]="trueFalseForm">
            <div class="flex justify-between items-center mb-8">
                <div class="text-3xl poppins-medium text-black">Create a New TrueFalseQuestion</div>
                <div>
                    <button class="bg-[#0D2E4D] text-white px-4 py-2 rounded mr-2 " type="submit"
                        (click)="onSubmit(trueFalseForm)">Save</button>
                    <button class="bg-[#5B7DB1] text-white px-4 py-2 rounded">
                        <a routerLink="/dashboard/problem-quiz" routerLinkActive="active">
                            Cancel</a> </button>
                </div>
            </div>

            <!-- Question text -->
            <div class="flex mb-4">
                <div class="w-1/2 mr-2">
                  <label class="block text-[#1d2736] montserrat-medium mb-2">
                    Title<span class="text-red-500">*</span>
                  </label>
                  <input type="text" formControlName="title"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  <div
                    *ngIf="trueFalseForm.controls['title'].touched || trueFalseForm.controls['title'].dirty ||isSubmitted">
                    <div *ngIf="trueFalseForm.controls['title'].hasError('required')" class="mt-2 text-sm text-red-600 "> This
                      field is required</div>
                  </div>
                </div>
                <div class="w-1/2 ml-2">
                  <label class="block text-[#1d2736] montserrat-medium mb-2">
                    Category<span class="text-red-500">*</span>
                  </label>
                  <select name="category" id="category" formControlName="category" multiple
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">
                    <option value="WEB_DEVELOPMENT">Web Development</option>
                    <option value="MOBILE_DEVELOPMENT">Mobile Development</option>
                    <option value="DATA_SCIENCE">Data Science</option>
                  </select>
                  <div
                    *ngIf="trueFalseForm.controls['category'].touched || trueFalseForm.controls['category'].dirty ||isSubmitted">
                    <div *ngIf="trueFalseForm.controls['category'].hasError('required')" class="mt-2 text-sm text-red-600 ">
                      This field is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
        
                <label class="block text-[#1d2736] montserrat-medium mb-2">
                  Difficulty<span class="text-red-500">*</span>
                </label>
                <select name="difficulty" id="difficulty" formControlName="difficulty"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 ">
                  <option>Easy</option>
                  <option>Medium</option>
                  <option>Hard</option>
                </select>
                <div
                  *ngIf="trueFalseForm.controls['difficulty'].touched || trueFalseForm.controls['difficulty'].dirty || isSubmitted">
                  <div *ngIf="trueFalseForm.controls['difficulty'].hasError('required')" class="mt-2 text-sm text-red-600 ">
                    This field is required</div>
                </div>
              </div>
              <!-- Question input -->
              <div class="mb-4">
                <label class="block text-[#1d2736] montserrat-medium mb-2">
                  Question<span class="text-red-500">*</span>
                </label>
                <input type="text" formControlName="question"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                <div
                  *ngIf="trueFalseForm.controls['question'].touched || trueFalseForm.controls['question'].dirty ||isSubmitted">
                  <div *ngIf="trueFalseForm.controls['question'].hasError('required')" class="mt-2 text-sm text-red-600 ">
                    This field is required</div>
                </div>
              </div>
        
              <!-- Duration and Points inputs -->
              <div class="flex mb-4">
                <div class="w-1/2 mr-2">
                  <label class="block text-[#1d2736] montserrat-medium mb-2">
                    Duration (seconds)<span class="text-red-500">*</span>
                  </label>
                  <input type="number" formControlName="duration"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  <div
                    *ngIf="trueFalseForm.controls['duration'].touched || trueFalseForm.controls['duration'].dirty ||isSubmitted">
                    <div *ngIf="trueFalseForm.controls['duration'].hasError('required')" class="mt-2 text-sm text-red-600 ">
                      This field is required</div>
                  </div>
                </div>
                <div class="w-1/2 ml-2">
                  <label class="block text-[#1d2736] montserrat-medium mb-2">
                    Points<span class="text-red-500">*</span>
                  </label>
                  <input type="number" formControlName="points"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  <div
                    *ngIf="trueFalseForm.controls['points'].touched || trueFalseForm.controls['points'].dirty ||isSubmitted">
                    <div *ngIf="trueFalseForm.controls['points'].hasError('required')" class="mt-2 text-sm text-red-600 ">
                      This field is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-4 flex items-center">
        
                <label class="block text-[#1d2736] montserrat-medium mb-2">
                    Correct Answer<span class="text-red-500">*</span>
                </label>
                <select id="trueFalseCorrectAnswer" formControlName="correctAnswer"
                    class="form-control mx-12 px-6 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block  p-2.5 "
                    name="trueFalseCorrectAnswer" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <div
                    *ngIf="trueFalseForm.controls['correctAnswer'].touched || trueFalseForm.controls['correctAnswer'].dirty ||isSubmitted">
                    <div *ngIf="trueFalseForm.controls['correctAnswer'].hasError('required')"
                        class="mt-2 text-sm text-red-600 "> This field is required</div>
                </div>
              </div>
           

            <!-- Submit button -->


        </form>
    </div>
</div>