<div *ngIf="currentMode === 'show'">
  <div class="py-12 ">
    <div class="text-2xl montserrat-semi text-gray-800 mt-0">Welcome</div>
    <div class="text-4xl montserrat-extra text-[#1d2736]  mb-0 ">Dashboard-Test Page</div>

  </div>
  <div class="flex items-center justify-center ">
    <div class="container bg-white p-8">
      <div class="flex justify-end">
        <button class="text-white border bg-[#1d2736] hover:bg-transparent hover:text-[#1d2736] hover:border-[#1d2736] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-3 py-2.5 flex">
          <a routerLink="/dashboard/test/add-test" routerLinkActive="active" class="flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                clip-rule="evenodd" />
            </svg>
            <span>Add</span>
          </a>
        </button>
      </div>
      
  
          <div class=" items-center justify-center mt-5 mb-4">
          <table class="bg-white rounded-lg overflow-hidden w-full">
            <thead class="text-[#1d2736]">
              <tr class="bg-white flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                <th class="p-3 text-left">Category</th>
                <th class="p-3 text-left">Difficulty Level</th>
                <th class="p-3 text-left">Duration</th>
                <th class="p-3 text-left">Total Points</th>
                <th class="p-3 text-left">Passing Percentages</th>
                <th class="p-3 text-left" width="110px">Actions</th>
              </tr>
            </thead>
            <tbody class="flex-1 sm:flex-none">
              <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 montserrat-semi" *ngFor="
              let test of tests | paginate : { itemsPerPage: 5, currentPage: p }
            ">
                <td class="border-grey-light border hover:bg-gray-100 p-3">
                  {{ test.category }}
                </td>
                <td class="border-grey-light border hover:bg-gray-100 p-3" >{{test.difficultyLevel}}
                </td>
                <td class="border-grey-light border hover:bg-gray-100 p-3">
                  {{ test.totalDuration }}
                </td>
                <td class="border-grey-light border hover:bg-gray-100 p-3">
                  {{ test.totalPoints }}
                </td>
                <td class="border-grey-light border hover:bg-gray-100 p-3">
                  {{ test.passingPercentage }}
                </td>
        
                <td
                  class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">
                  <button (click)="openDialog(test)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                      <path fill-rule="evenodd"
                        d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
  
                  <button >
                    <a [routerLink]="['/dashboard/test/add-test', { test:test.id}]" routerLinkActive="active">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path
                        d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                      <path
                        d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                    </svg>
                    </a>
                  </button>
                  <button (click)="openDeleteConfirmationModal(test.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path fill-rule="evenodd"
                        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5Z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-end">
            <pagination-controls class="my-4" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>        
        </div>
     
      </div>


    </div>
  </div>

  <div *ngIf="isDialogOpen" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <div class="bg-white rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full p-6">
        <div class="flex justify-end items-center ">
          <button class="text-gray-400 hover:text-gray-600 focus:outline-none" (click)="closeDialog()">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
          <div class="text-lg montserrat-bold text-[#1d2736] text-center border-b border-gray-200 p-4">Test Information</div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
  
          <div>
            <p class="montserrat">Category:</p>
            <p class="montserrat-semi">{{ test.category }}</p>

            <p class="montserrat">Duration:</p>
            <p class="montserrat-semi">{{ test.totalDuration }} Minutes</p> 
            <p class="montserrat">Score:</p>
            <p class="montserrat-semi">{{ test.totalPoints }}</p>
          
           

            <p class="montserrat">Quizzes:</p>
            <p class="montserrat-semi">{{ test.numberOfQuizzes }}</p>
          </div>
  
          <div>
            <p class="montserrat">Difficulty Level:</p>
            <p class="montserrat-semi">{{ test.difficultyLevel }}</p>
            <p class="montserrat">Passing Percentages:</p>
            <p class="montserrat-semi">{{ test.passingPercentage }}</p>
            <p class="montserrat">Passing Points:</p>
            <p class="montserrat-semi">{{ test.passingPoints }}</p>
            <p class="montserrat">Problems:</p>
            <p class="montserrat-semi">{{ test.numberOfProblems }}</p>
          </div>
        </div>
  
        </div>
    </div>
  </div>

  <!------delete confirmation model-->
  <app-confirmation-modal
  *ngIf="isDeleteConfirmationModalOpen"
  [message]="'item'"
  [itemId]="selectedTestId"
  (confirm)="deleteTest(selectedTestId)"
  (cancel)="onCloseModal()">
</app-confirmation-modal>
<!--------------------Problem------------------------->
