<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
            <button id="dropdownRadioButton" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button"
            routerLink="/dashboard/add" routerLinkActive="active"
            > 
                Add Test
            </button>  
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    
       <!-- <div class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        *ngFor="let test of data"
        > 
             <div>
                <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{test.title}}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{test.description}} </p>
                </a>
            </div>    
        </div>  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

               <div class="px-6 py-4 max-w-sm rounded overflow-hidden shadow-lg"         
                *ngFor="let test of data"
                >   
                    <div class="flex items-center justify-end">
                    <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="update"></mat-icon>
                    </button>
                    <button (click)="deleteTest(test)"><mat-icon aria-hidden="false"fontIcon="delete"></mat-icon>
                    </button>
                    </div>
                    <div class="font-bold text-xl mb-2">{{test.title}}</div>
                     <p class="text-gray-700 text-base">
                    {{test.description}}
                      </p>
                      <div class="flex items-center justify-between mt-8">
                        <div class="flex items-center -space-x-3">
                        <p>{{test.category}} </p>    
                        </div>
                        <p class="block font-sans text-base antialiased  leading-relaxed text-inherit font-bold"
                        [class.text-green-500]="test.difficulty === 'easy'"
                        [class.text-yellow-500]="test.difficulty === 'medium'"
                        [class.text-red-500]="test.difficulty === 'hard'">
                            {{test.difficulty}}
                          </p>
                        </div>
                        
              </div>
        </div>    
    </div>     

