<div class="py-12">
  <div class="text-2xl montserrat-semi text-gray-800 mt-0">Welcome</div>
  <div class="text-4xl montserrat-extra text-[#1d2736]  mb-0">Dashboard-Users List</div>
  <div class="montserrat text-gray-800 mt-0">{{usersNumber}} users found</div>
</div>
<div class="flex items-center justify-center ">
  <div class="container bg-white p-8">
    <div class="mb-4 justify-between flex">
      <div class="" >
      <input type="text" class="border border-gray-300 rounded-lg p-2 mr-2" placeholder="Search users..."
      [(ngModel)]="searchText">
      <select [(ngModel)]="selectedRole" class="border border-gray-300 rounded-lg text-sm py-2 ">
        <option value="ALL">Add Filter</option>
        <option value="ROLE_EVALUATOR">Evaluator</option>
        <option value="ROLE_USER">Candidat</option>
      </select>
    </div>
      <button (click)="openModal()"
        class="text-white border bg-[#1d2736] hover:bg-transparent hover:text-[#1d2736] hover:border-[#1d2736] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
            clip-rule="evenodd" />
        </svg>

        Add
      </button>
    </div>

    <!-- Filter by role select dropdown -->
    <table class="bg-white rounded-lg overflow-hidden w-full">
      <!-- Table headers -->
      <thead class="text-[#1d2736]">
        <!-- Table row -->
        <tr class="bg-white flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
          <!-- Table headers -->
          <th class="p-3 text-left  "></th>
          <th class="p-3 text-left ">Name</th>
          <th class="p-3 text-left ">Role</th>
          <th class="p-3 text-left ">Email</th>
          <th class="p-3 text-left  ">Actions</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody class="flex-1 sm:flex-none">
        <!-- Table rows -->
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 montserrat-semi"
          *ngFor="let user of filteredUsers | paginate : { itemsPerPage: 5, currentPage: p }; let i = index">
          <!-- Display user details -->
          <td class="initials-circle">{{ getInitials(user.firstname, user.lastName) }}</td>
          <td class="  hover:bg-gray-100 p-3">{{ user.firstname }} {{ user.lastName }}</td>
          <td class="  hover:bg-gray-100 p-3 truncate"> {{ user.role === 'ROLE_EVALUATOR' ? 'Evaluator' : user.role ===
            'ROLE_USER' ? 'Candidat' : 'Unknown Role' }}
          </td>
          <td class="  hover:bg-gray-100 p-3">{{ user.email}}</td>
          <td class="  hover:bg-gray-100 p-4 flex justify-center items-center relative text-[#4b5563]">
            <!-- User actions -->
            <button (click)="openViewModel(user)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
              </svg>
              
            </button>
            <button (click)="openDeleteConfirmationModal(user)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path d="M2 3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3Z" />
                <path fill-rule="evenodd"
                  d="M13 6H3v6a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V6ZM5.72 7.47a.75.75 0 0 1 1.06 0L8 8.69l1.22-1.22a.75.75 0 1 1 1.06 1.06L9.06 9.75l1.22 1.22a.75.75 0 1 1-1.06 1.06L8 10.81l-1.22 1.22a.75.75 0 0 1-1.06-1.06l1.22-1.22-1.22-1.22a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd" />
              </svg>
            </button>


          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="flex justify-end">
      <pagination-controls class="my-4 float-right my-pagination" (pageChange)="p = $event" previousLabel="previous" nextLabel="next"  >
      </pagination-controls>
    
    </div>
  </div>

</div>
<!--------------------Delete user ------------------------------------------------>

  <div  *ngIf="isDeleteConfirmationModalOpen" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <div class="bg-white rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full p-8"> 
         <div class="text-xl montserrat-700 text-[#1d2736] ">Are you sure? </div>

          <div class="py-6 text-gray-700 montserrat-semi">
            <p>The user {{ selectedUser.firstname }} {{ selectedUser.lastName }} will be <span class="text-red-700" >deleted.</span> This action cannot be undone.</p>
          </div>

          <!-- Modal footer -->
          <div class=" flex justify-end">
            <button (click)="closeDeleteConfirmationModal()" class="px-4 py-2 mr-2 text-[#1d2736] bg-white border border-[#1d2736] rounded-lg focus:outline-none sm:mr-4">Cancel</button>
            <button (click)="deleteUser(selectedUser.id)" class="px-4 py-2 text-white bg-[#1d2736] rounded-lg hover:bg-red-700 focus:outline-none sm:px-6">Yes,I'm sure</button>
          </div>
  
        </div>
    </div>
  </div>
  
  <!--------------------------------add evaluator-------------------------------------------------->
  <div *ngIf="isOpen" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <!-- Modal container -->
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-8">
        <!-- Modal header -->
        <div class="flex justify-between items-center">
          <div class="text-xl montserrat-700 text-center text-[#1d2736] ">Add Evaluator </div>
          <button (click)="closeModal()" class="text-gray-500 hover:text-gray-100 focus:outline-none">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
  
        <!-- Modal body -->
          <!-- User form -->
          <form [formGroup]="userForm"  class="space-y-4 mt-6">
            <div class="flex flex-col md:flex-row md:space-x-4">
              <div class="flex-1">
                <label class="block  text-[#1d2736] text-sm poppins mb-2" for="firstName">First Name
                  <span class="text-red-500">*</span>
                </label>
                        <input type="text" name="firstname" id="firstname" formControlName="firstname"
                          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                          placeholder="firstname" required="">
                          <div *ngIf="userForm.controls['firstname'].touched || userForm.controls['firstname'].dirty ||isSubmitted">
                            <div *ngIf="userForm.controls['firstname'].hasError('required')"
                              class="mt-2 text-sm text-red-600 "> This field is required</div>
                            <div *ngIf="userForm.controls['firstname'].hasError('pattern')"
                              class="mt-2 text-sm text-red-600 ">Please enter only letters and spaces.</div>
            
                          </div>
              </div>
              <div class="flex-1">
                <label class="block  text-[#1d2736] text-sm poppins mb-2" for="lastName">Last Name
                  <span class="text-red-500">*</span>
                </label>                 
                       <input type="text" name="lastName" id="lastName" formControlName="lastName"
                          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                          placeholder="lastname" required="">
                          <div *ngIf="userForm.controls['lastName'].touched || userForm.controls['lastName'].dirty ||isSubmitted">
                            <div *ngIf="userForm.controls['lastName'].hasError('required')"
                              class="mt-2 text-sm text-red-600 "> This field is required</div>
                            <div *ngIf="userForm.controls['lastName'].hasError('pattern')"
                              class="mt-2 text-sm text-red-600 ">Please enter only letters and spaces.</div>
                          </div>
              </div>
            </div>
            <div>
                <label class="block  text-[#1d2736] text-sm poppins mb-2" for="email">Email
                  <span class="text-red-500">*</span>
                </label>
                <input type="email" name="email" id="email" formControlName="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                  placeholder="name@company.com" required="">
                  <div *ngIf="userForm.controls['email'].touched || userForm.controls['email'].dirty ||isSubmitted">
                      <div *ngIf="userForm.controls['email'].hasError('required')"
                        class="mt-2 text-sm text-red-600 "> This field is required</div>
                      <div *ngIf="userForm.controls['email'].hasError('email')"
                        class="mt-2 text-sm text-red-600 "> Invalid email</div>
                      <div *ngIf="userExist" class="mt-2 text-sm text-red-600 "> User exist with the same email
                      </div>
                    </div>
            </div>
          
            <div>
                    <label class="block  text-[#1d2736] text-sm poppins mb-2" for="number">Phone Number
                      <span class="text-red-500">*</span>
                    </label>
                    <input type="text" name="number" id="number" formControlName="number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                    placeholder="12 345 678" required="" mask="00 000 000" >
                      <div *ngIf="userForm.controls['number'].touched || userForm.controls['number'].dirty ||isSubmitted">
                        <div *ngIf="userForm.controls['number'].hasError('required')"
                          class="mt-2 text-sm text-red-600 "> This field is required</div>
                        <div *ngIf="userForm.controls['number'].hasError('minlength')"
                          class="mt-2 text-sm text-red-600 "> Number should contains 8</div>
                          <div *ngIf="userForm.controls['number'].hasError('maxlength')"
                          class="mt-2 text-sm text-red-600 "> Number should contains 8</div>
                      </div>
              
            </div>
                

            <!-- Add more form fields here -->
            <div class="flex justify-end mt-6">
              <button (click)="closeModal()" class="px-4 py-2 mr-2 text-[#1d2736] bg-white border border-[#1d2736] rounded-lg focus:outline-none sm:mr-4">Cancel</button>
              <button (click)="addUser()" class="px-4 py-2 text-white bg-[#1d2736] rounded-lg hover:bg-red-700 focus:outline-none sm:px-6">Add Evaluator</button>
            </div>
          </form>
      </div>
    </div>
  </div>

  <!---------------------------------------------------View User---------------------------------------------->
  <div *ngIf="isViewModelOpen" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
      <!-- Modal container -->
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-8">
        <!-- Modal header -->
        <div class="flex justify-between items-center">
          <div class="text-xl montserrat-700 text-center text-[#1d2736] ">User Information </div>
          <button (click)="onCloseViewModel()" class="text-gray-800 hover:text-gray-100 focus:outline-none">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
  
        <!-- Modal body -->
          <!-- User form -->
          <div   class="space-y-4 mt-6">
            <div class="flex flex-col md:flex-row md:space-x-4">
              <div class="flex-1">
            
                <p class="montserrat mb-2">First Name:</p>
                <p class="montserrat-semi">{{ user.firstname }}</p>
              </div>
              <div class="flex-1">          
                <p class="montserrat mb-2">Last Name:</p>
                <p class="montserrat-semi">{{ user.lastName }}</p> 
              </div>
            </div>
            <div class="flex flex-col md:flex-row md:space-x-4">
              <div class="flex-1">
                <p class="montserrat mb-2">Role:</p>
                  <p class="montserrat-semi">{{ user.role === 'ROLE_EVALUATOR' ? 'Evaluator' : user.role ===
                    'ROLE_USER' ? 'Candidat' : 'Unknown Role' }}</p>
              </div>
              <div class="flex-1">
                <p class="montserrat mb-2">Phone Number:</p>
                  <p class="montserrat-semi">{{ user.number }}</p>
              </div>
                 </div>  
            <div>
              <p class="montserrat mb-2">Email:</p>
                <p class="montserrat-semi">{{ user.email }}</p>
                
            </div>
           

           
          </div>
      </div>
    </div>
  </div>
  
  