@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" );

.container{
  display:grid;
  place-items:center;
  cursor:pointer;
  padding:15px;
  background:rgba(255, 255, 255, 0.66);
  border-radius:50%;
  transition:all 0.3s ease-in;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
    -10px -10px 10px rgba(255,255,255,0.6);
}
.container .fas{
  display:grid;
  place-items:center;
  font-size:15px;
  color:#7b7b7b;
}
.container:active{
  box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
    inset -10px -10px 10px rgba(255,255,255,0.6);
}
.container:active .fas{
  color:#d97a07;
}
  

  
  .left-pane, .right-pane {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 10px;
  }
  
  .container2 {
    border-radius: 20px;

  }
  

