<div>
    

<nav class="bg-white border-gray-200 ">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="" class="flex items-center space-x-3 rtl:space-x-reverse"routerLink="/home" routerLinkActive="active">
            <img src="" class="h-8" alt="" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-[#1d2736]">Home</span>
        </a>
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
            <a href="#" class="text-sm  rounded border border-[#d97a07] bg-[#d97a07] px-4 py-2 text-sm font-medium text-white hover:bg-transparent hover:text-[#a94f33] focus:outline-none focus:ring active:text-opacity-75 " routerLink="/signup" routerLinkActive="active">Login</a>
        </div>
    </div>
</nav>


</div>